body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0px 16px 0px 16px;
}

h1 {
    color: #F9FAF8;
    flex: 1;
    font-size: 24px;

}

.header-links {
    display: flex;
    gap: 24px;
}

.section-one {
    display: flex;
    height: 450px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: #1F2937;
}

.content-left {
    height: 250px;
    width: 450px;
}

.content-left h3 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

.content-left p {
    font-size: 18px;
    color: #E5E7EB;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

.content-left button {
    margin-top: 20px;
    border-radius: 10px;
    height: 50px;
    width: 160px;
    text-align: center;
    box-sizing: border-box;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bolder;
    border-style: none;

}

.section-one img {
    height: 250px;
    width: 450px;

}

body h3 {
    align-self: center;
    margin: 40px auto;
    font-size: 24px;
    font-weight: bolder;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.photo-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.photo-display p {
    text-align: center;
    font-size: 18px;

}

.photo-display img {
    height: 100px;
    width: 150px;
    border-radius: 10px;
}

.section-three {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    height: 400px;
}

.section-three p {
    height: auto;
    width: 700px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.section-four #calltoaction-container {
    display: flex;
    background-color: #3882F6;
    height: 100px;
    width: 800px;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
}

#calltoaction-container #content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;

}

#calltoaction-container #content-left h5 {
    margin: 0;
    font-size: medium;
    font-weight: bolder;
    color: whitesmoke;
}

#calltoaction-container #content-left p {
    margin: 0;
    font-size: small;
    font-weight: lighter;
    color: whitesmoke;
}

#calltoaction-container button {
    border-color: whitesmoke;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 20px;
    border-style: solid;
    color: whitesmoke;
}

#quote {
    font-size: 36px;
    text-align: start;
    font-weight: light;
    color: #1F2937;
    margin-bottom: 0;
}

#creator {
    font-size: 18px;
    text-align: right;
    margin: 0;
    font-weight: bolder;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: whitesmoke;
    font-weight: bold;
}